<a href="https://colab.research.google.com/github/jumarques03/CP01-SERS-2SEMESTRE/blob/main/CP01_SERS_2SEMESTRE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

df01 -----> Sem as colunas Date e Time

df02 -----> Com as colunas Date e Time

***1. Carregue o dataset e exiba as 10 primeiras linhas.***

In [112]:
import pandas as pd

In [113]:
df01= pd.read_csv("/content/drive/MyDrive/household_power_consumption (1).txt", sep=";", low_memory=False) # Isso aqui vai se tornar um DataFrame
df02= df01.copy()

df01.head(10)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0

***2. Explique a diferença entre as variáveis Global_active_power e Global_reactive_power.***

***3. Verifique se existem valores ausentes no dataset. Quantifique-os***

In [114]:
# Removendo as colunas "Date" e "Time"
df01= df01.drop(['Date', 'Time'], axis=1)

In [115]:
# Convertendo as colunas tipo 'object' para 'float'
for coluna in df01.columns:
  df01[f'{coluna}'] = pd.to_numeric(df01[f'{coluna}'], errors='coerce')   # 'errors='coerce' --> trata valores não convertíveis como NaN (Not a Number)

df01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 110.8 MB

In [116]:
valores_ausentes = df01.isnull().sum()
print("Valores Ausentes por Coluna:\n")
print(valores_ausentes)

Valores Ausentes por Coluna:

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

***4. Converta a coluna Date para o tipo datetime e crie uma nova coluna com o dia da semana
correspondente.***

In [117]:
df02['Date'] = pd.to_datetime(df02['Date'])

df02.insert(2, 'Dia da Semana', df02['Date'].dt.day_name())

df02.head()

/tmp/ipython-input-3229626236.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df02['Date'] = pd.to_datetime(df02['Date'])

,Date,Time,Dia da Semana,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,Saturday,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,2006-12-16,17:25:00,Saturday,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,2006-12-16,17:26:00,Saturday,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,2006-12-16,17:27:00,Saturday,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,2006-12-16,17:28:00,Saturday,3.666,0.528,235.680,15.800,0.000,1.000,17.0

***5. Filtre os registros apenas do ano de 2007 e calcule a média de consumo diário de
Global_active_power.***

In [118]:
for coluna in df01.columns:
  df02[f'{coluna}'] = pd.to_numeric(df02[f'{coluna}'], errors='coerce')

valores_2007 = df02[(df02['Date'].dt.year) == 2007]
media = valores_2007['Global_active_power'].mean()

print(f'A média de consumo diário de Global_active_power no ano de 2007 foi: {media:.2f} KW')

A média de consumo diário de Global_active_power no ano de 2007 foi: 1.12 KW

***6. Gere um gráfico de linha mostrando a variação de Global_active_power em um único dia à sua
escolha.***

***7. Crie um histograma da variável Voltage. O que pode ser observado sobre sua distribuição?***

***8. Calcule o consumo médio por mês em todo o período disponível no dataset***

VERIFICAR SE É ISSO MESMO O CONSUMO (NO CASO, ESSAS COLUNAS)

In [148]:
df03 = df02.copy()
df03 = df03.set_index('Date')

df03['Consumo Total'] = df03['Sub_metering_1'] + df03['Sub_metering_2'] + df03['Sub_metering_3']

consumo_medio_mensal = df03['Consumo Total'].resample('ME').mean()

print("Consumo médio (Wh) por mês em todo o período disponível no dataset:\n\n")
print(consumo_medio_mensal)

Consumo médio (Wh) por mês em todo o período disponível no dataset:


Date
2006-12-31    10.873181
2007-01-31    10.423518
2007-02-28     9.486135
2007-03-31    10.212863
2007-04-30     6.839375
2007-05-31     8.452442
2007-06-30     7.379151
2007-07-31     5.697724
2007-08-31     6.979336
2007-09-30     8.206236
2007-10-31     8.674493
2007-11-30     9.819413
2007-12-31    11.636551
2008-01-31     9.786218
2008-02-29     8.447829
2008-03-31     9.454894
2008-04-30     9.574745
2008-05-31     9.019468
2008-06-30     9.775226
2008-07-31     7.145414
2008-08-31     2.370223
2008-09-30     8.825185
2008-10-31     8.592686
2008-11-30     9.135445
2008-12-31     8.793377
2009-01-31    10.690405
2009-02-28     9.786069
2009-03-31     9.896702
2009-04-30     9.605699
2009-05-31     9.067053
2009-06-30     8.049430
2009-07-31     5.571512
2009-08-31     6.041372
2009-09-30     9.127787
2009-10-31     9.766393
2009-11-30    10.404107
2009-12-31    11.093687
2010-01-31    12.198993
2010-02-28    12.762835
2010-03-31     9.863492
2010-04-30     9.508623
2010-05-31    10.419319
2010-06-30     9.730913
2010-07-31     5.487085
2010-08-31     5.336799
2010-09-30     8.619814
2010-10-31     9.500392
2010-11-30     9.005099
Freq: ME, Name: Consumo Total, dtype: float64

***9. Identifique o dia com maior consumo de energia ativa global (Global_active_power).***

***10. Compare o consumo médio de energia ativa global em dias de semana versus finais de
semana.***

***11. Calcule a correlação entre as variáveis Global_active_power, Global_reactive_power, Voltage
e Global_intensity.***

***12. Crie uma nova variável chamada Total_Sub_metering que some Sub_metering_1,
Sub_metering_2 e Sub_metering_3.***

***13. Verifique se há algum mês em que Total_Sub_metering ultrapassa a média de
Global_active_power.***

***14. Faça um gráfico de série temporal do Voltage para o ano de 2008.***

***15. Compare o consumo entre os meses de verão e inverno (no hemisfério norte).***

***16. Aplique uma amostragem aleatória de 1% dos dados e verifique se a distribuição de
Global_active_power é semelhante à da base completa.***

***17. Utilize uma técnica de normalização (Min-Max Scaling) para padronizar as variáveis numéricas
principais.***

***18. Aplique K-means para segmentar os dias em 3 grupos distintos de consumo elétrico. Interprete
os resultados.***

***19. Realize uma decomposição de série temporal (tendência, sazonalidade e resíduo) para
Global_active_power em um período de 6 meses.***

***20. Treine um modelo de regressão linear simples para prever Global_active_power a partir de
Global_intensity. Avalie o erro do modelo.***